@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.ContentModal__landscape {
  object-fit: contain;
  border-radius: 10px;
  max-width: 100%; /* Pour que l'image ne déborde pas */
}

.ContentModal__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
  max-width: 100%; /* Pour que l'image ne déborde pas */
  /* width: 50%; */
}

.tagline {
  padding-bottom: 10px;
  align-self: center;
}

.ContentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Utilisez min-height pour éviter les problèmes de hauteur */
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  color: blanchedalmond;
  background: #1f1c1c;
}

.ContentModal::-webkit-scrollbar {
  display: none;
}

.ContentModal__about {
  padding: 10px;
  width: 95%;
  /* height: 90%; */ /* Supprimez ou ajustez la hauteur */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: space-evenly;
  font-weight: 600;
}

.ContentModal__title {
  height: auto; /* Utilisez auto ou une valeur relative */
  font-size: 7vw; /* Adaptez la taille de la police */
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ee0d76;
  margin-bottom: 10px; /* Ajoutez un peu de marge en bas */
}

.ContentModal__description {
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  box-shadow: inset 0 0 5px #e6dada;
  text-align: justify;
  font-size: 1rem; /* Taille de police de base */
}

.ContentModal__description::-webkit-scrollbar {
  display: none;
}

/* Media queries pour différents écrans */
@media (max-width: 480px) {
  /* Règles pour les petits écrans */
  .ContentModal__title {
    font-size: 10vw; /* Réduisez la taille de la police */
  }
  .ContentModal__description {
    font-size: 0.2rem; /* Réduisez la taille de la police */
  }
}

@media (min-width: 768px) {
  /* Règles pour les écrans moyens */
  .ContentModal__title {
    font-size: 5vw; /* Adaptez la taille de la police */
  }
  .ContentModal__description {
    font-size: 1.1rem; /* Adaptez la taille de la police */
  }
}

@media (min-width: 835px) {
  .ContentModal__landscape {
    display: none;
  }
  .ContentModal__portrait {
    display: flex;
    width: 38%;
  }
  .ContentModal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .ContentModal__about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .ContentModal__title {
    font-size: 3.5vw;
  }
  .ContentModal__description {
    font-size: 1.2rem;
  }
}
