.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #0c162a;
  border-radius: 10px;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
  padding: 0 2px;
}
.contentInfos {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
}
@media (max-width: 700px) {
  .contentInfos {
    opacity: 1;
  }
}
.contentInfos:hover {
  visibility: visible;
  opacity: 1;
}

.contentINfos:not(:hover) {
  visibility: hidden;
  opacity: 0;
}
.css-wjsjww-MuiChip-label {
  color: #f1f1f1;
  font-weight: 800;
}
