.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
  padding: 10px;
}

.carouselItem__img {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px black;
  max-width: 100%; /* S'adapte à la largeur du conteneur */
  width: auto; /* Conserve les proportions */
}

.carouselItem__txt {
  font-size: 0.8rem;
  text-align: center; /* Centre le texte */
  padding: 0 5px; /* Ajoute un peu de padding pour l'espace */
}

/* Media queries pour différents écrans */
@media (max-width: 480px) {
  /* Règles pour les petits écrans */
  .carouselItem__txt {
    font-size: 0.7rem; /* Réduit la taille du texte */
  }
}

@media (min-width: 768px) {
  /* Règles pour les écrans moyens et grands */
  .carouselItem__txt {
    font-size: 0.8rem;
  }
}
