* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
  background-image: url(./images/fond1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 700px) {
  .app {
    padding-top: 150px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-size: 2vw;
  font-weight: 900;
  padding: 4px;
  border-radius: 50px;
  color: black;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
.css-16lloyr-MuiBottomNavigation-root {
  background-image: url('./images/fond2.jpg');
  background-size: cover;
  background-position: center;
}
button.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: #39445a;
  color: antiquewhite;
}
